Clientes_ESTA_MAL/Clientes.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="0.1" xml:lang="es">
	<xs:element name="Clientes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cliente" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Código" type="xs:string"/>
							<xs:element name="Numero_De_Viviendas" type="xs:string"/>
							<xs:element name="Coste" type="xs:string"/>
							<xs:element name="Resumen" type="xs:string"/>
							<xs:element name="Plazo" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>