Concesionario/Concesionario.dtd

<?xml version="1.0" encoding = "UTF-8" ?>
<!ELEMENT Almacen (coche*)>
<!ELEMENT coche (Código_de_coche,Marca,Modelo,Matrícula,Potencia,Plazas,Número_de_puertas)>
<!ELEMENT Código_de_coche (#PCDATA)>
<!ELEMENT Marca (#PCDATA)>
<!ELEMENT Modelo (#PCDATA)>
<!ELEMENT Matrícula (#PCDATA)>
<!ELEMENT Potencia (#PCDATA)>
<!ELEMENT Plazas (#PCDATA)>
<!ELEMENT Número_de_puertas  (#PCDATA)>
